<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- 数据库的配置信息 -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/Shopping</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">jerry</property>
		
		<!-- hibernate的配置信息 -->
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">false</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		<!-- 配置数据库的方言 -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
		
		<!-- 配置映射文件 -->
		<!-- <mapping resource="com/cjs/shopping/model/Student.hbm.xml"/> -->
		<mapping class="com.arex.bean.product.ProductType"/>
	</session-factory>
</hibernate-configuration>
        
